@media only screen and (max-width: 1300px) {
    .footercon {
        margin-top: 40px !important;
    }
}


@media only screen and (max-width: 1040px) {
    .cards-wrapper {
        margin-top: 0px !important;
        /* z-index: 100000 !important; */
    }

    /* section 4 */
    /* .section4-inner {
        flex-direction: column;
    }

    .video-img {
        width: 70%;
        height: 60%;
        object-fit: fill;
    }
    .play-btn img{
    top: 30%;
    left: 35%;
    height: 60px;
    }*/
    .content-pic {
        flex-direction: column;
        margin: 0 !important;
    }

    .footercon {
        margin-top: 40px !important;
    }
}

@media only screen and (max-width: 825px) {

    /* hero section */
    .d-none {
        display: block !important;
        font-size: 0.5em;
        align-items: center;
        margin-bottom: -20px !important;
    }

    .btn-lg {
        padding: 0.25rem 0.5rem !important;
        font-size: 0.875rem !important;
        margin: auto !important;
    }

    .my-flex {
        display: block !important;
    }

    .content-pic {
        margin: 30px 20px !important;
    }
}

@media (max-width: 768px) {
    .carousel-item .col-md-6 {
        width: 100%;
        margin-bottom: 15px;
    }
}

.carousel-control-prev,
.carousel-control-next {
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.fa-arrow-left,
.fa-arrow-right {
    color: white;
    font-size: 20px;
}

.about-content {
    text-align: left !important;
    padding: 20px !important;
}

.about-con1 {
    padding: 0 !important;
}

@media only screen and (max-width: 440px) {

    /* hero and header section */
    .d-none {
        display: none !important;
    }

    .navbar-brand img {
        width: 160px;
    }

    .section-2 {
        text-align: center;
        padding: 0;
    }

    .card-img-top {
        width: 90%;
        height: auto;
    }

    .cards-sec {
        padding: 0px 0px !important;
        /* margin: 0 18px; */
        width: auto;
    }

    .card {
        width: 250px;
    }

    .card-group {
        width: auto !important;
        /* text-align: left;
        border: 2px solid;
        margin: auto; */
        /* width: 200px !important; */
    }

    .footer-con1 p {
        width: 10em;
    }

    footer {
        margin: auto;
        padding: 0 !important;
    }

    .copyright {
        padding: 0 !important;
    }

    .copy-con {
        margin: 10px 0 !important;
    }

    .copy-con p {
        margin-left: 10px !important;

    }

    .blog .card-group {
        margin: auto !important;
    }

    .blog .card-group .card {
        margin-bottom: 20px !important;
    }

    .blog .card-group {
        margin: auto !important;
    }

    .pagination {
        width: 170px !important;
        margin: 0 1px !important;
    }
    .events{
        display: flex !important;
      justify-content: center !important;
      align-items: center !important;
    }
}

@media only screen and (max-width: 300px) {
    body {
        overflow-x: hidden;
    }

    /* * {
        border: 2px solid ;
    } */

    .card-group {
        padding-right: 0 !important;
        width: 130px !important;
    }

    .card {
        width: 200px;
        margin: 0px 0px !important;
        margin-left: -60px !important;
    }

    .section-2 {
        --bs-gutter-x: 0rem;
    }

    .card-body {
        padding: 0 !important;
        text-align: center;
        margin: 10px 0;
    }

    .progress {
        display: none !important;
    }

    .cards-sec {
        margin: 0 !important;
    }

    .profile-card .profile-img {
        width: 140px !important;
        height: 140px !important;
    }

    .about-content {
        padding: 0 !important;
    }

    .about-con1 {
        padding: 0 !important;
    }
}