.hd-top {
    background-color: #f8b864;
    padding: 10px 0;
}

.header {
    display: flex;
    padding: 6px;
}

.span1 {
    flex-grow: 1;
}

.span1 a,
.span2 a {
    text-decoration: none;
    margin-left: 8px;
}

.span1 a i,
.span2 a i {
    margin-right: 8px;
}

.btn {
    background-color: #f8b864 !important;
    border: none;
    border-radius: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    display: none;
}

/* circle arrow */
.custom-arrow {
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    padding-bottom: 5px;
    font-weight: bold;
    transition: 0.3s ease;
}

/* hover effect */
.custom-arrow:hover {
    background-color: black;
}

.carousel-caption h1 {
    font-size: 4em !important;
}

/* Hero animation */
.carousel-caption h5,
.carousel-caption h1,
.carousel-caption p,
.carousel-caption .btn {
    opacity: 0;
    transform: translateY(30px);
    animation: slideUpFade 1s forwards;
    animation-play-state: running;
}

.carousel-item.active h5 {
    animation-delay: 0.3s;
}

.carousel-item.active h1 {
    animation-delay: 0.6s;
}

.carousel-item.active p {
    animation-delay: 0.9s;
}

.carousel-item.active .btn {
    animation-delay: 1.2s;
}

@keyframes slideUpFade {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.carousel .carousel-item {
    transition: opacity 0.5s ease-in-out;
}

.btn:hover {
    background-color: #fda431 !important;
}

/* 
.card-img-top {
    width: 64px ;
    height: 64px;
} */


.card {
    border-radius: 0;
    /* margin: 0 auto !important; */
}

.card img,
.card h3,
.card p,
.card a {
    margin-bottom: 14px;
}

.card a {
    text-decoration: none;
    color: black;
}

.card a:hover {
    color: rgb(61, 61, 61);
}


.cards-wrapper {
    margin-top: -80px;
    z-index: 1000 !important;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.my-container,
.hero-section {
    position: static;
    overflow: visible;
}

/* hero section end */

/* section 2 */
.border-end {
    border-top: 5px solid #f8b864;
    width: 50px;
    display: flex;
    margin: 12px auto;

}

.section-2 {
    text-align: center;
    padding: 70px !important;
    position: relative;
    z-index: 4;
}

.section-2 .card-group {
    text-align: left;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.blue-progress {
    margin-top: -25px !important;

}

.progress-bar {
    background-color: #fda431 !important;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f8b864;
    position: absolute;
    /* top: 1px; */
}

.circle .mini-circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fda431;
    color: white;
}

/* section2 end */

/* section 3 start */
.section3 {
    position: relative;
    /* margin-top: 70px;  */
    overflow: hidden;
    z-index: 0
}


.sec3-round {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    /* z-index: 1; */
    z-index: -1;
    inset: 0;
}

.sec3-circle {
    width: 550px;
    height: 550px;
    border-radius: 60%;
    background-color: #f8b864bb;
    position: absolute;
    z-index: 10;
}

.section3-circle1 {
    left: -230px;
    top: -350px;
}

.section3-circle2 {
    width: 450px;
    height: 850px;
    right: -190px;
    bottom: -400px;
}

.progress-wrapper1 {
    position: relative;
    margin-top: 0px;
}

.progress-circle1 {
    position: absolute;
    top: -44px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #f7b24a;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgba(255, 255, 255, 0.4);
}

.profile-card {
    border: 2px dashed rgb(188, 188, 188);
    background-color: #fafafa;
    padding: 20px;
}

.progress-wrapper {
    position: relative;
    margin: 30px 0;
}

.progress-circle {
    position: absolute;
    top: -18px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background-color: #f7b24a;
    border-radius: 50%;
    color: #fff;
    font-size: 11px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid rgba(255, 255, 255, 0.4);
}



/* section 4 start */
.section4 {
    background-image: url(./images/featured-bg.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    color: white;
    background-attachment: scroll;
    width: auto;
    height: 100%;
}

.section4-inner {
    width: 100%;
}

.section4-content {
    width: 50%;
}

.video {
    position: relative;
    width: 100%;
    height: 320px;
    overflow: hidden;
}

.video-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.video iframe {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.play-btn img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70px;
    cursor: pointer;
}


/* section 5 start */
.section5 {
    position: relative;
    /* margin-top: 70px;  */
    overflow: hidden;
    z-index: 0
}


.sec5-round {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: space-between;
    /* z-index: 1; */
    z-index: -1;
    inset: 0;
}

.sec5-circle {
    width: 550px;
    height: 550px;
    border-radius: 60%;
    background-color: #f8b864bb;
    position: absolute;
    z-index: 10;
}

.section5-circle1 {
    left: -230px;
    top: -350px;
}

.section5-circle2 {
    width: 450px;
    height: 850px;
    right: -190px;
    bottom: -400px;
}

.sec5-para {
    color: rgb(101, 101, 101);
    font-size: 17px;
}


.show-on-hover {
    background: black;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 4));
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 70px 0 15px 0;
    opacity: 0;
    z-index: 2;
    pointer-events: none;

    transition: opacity 0.3s ease;
}

.show-on-hover h2 {
    color: #fda431;
}

.show-on-hover p {
    color: white;
}

.image-sec-5 {
    position: relative;
    overflow: hidden;
}

.image-sec-5:hover .show-on-hover {
    opacity: 1;
}

.image-sec-5 img {
    transition: transform 0.4s ease;
    width: 380px;
    display: block;
}

.image-sec-5:hover img {
    transform: scale(1.05);
}

.content-con-sec5 {
    text-align: left;
}

.list-check i {
    color: #fda431;
    margin-right: 5px;
}

.list-check p {
    color: rgb(68, 66, 66);
}

/* section 5 end */
/* section 6 start */
.section6 {
    background-image: url(./images/counters-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    background-attachment: scroll;
    background-size: cover;
}

.sec6-mini-con {
    text-align: center;
}

.sec6-mini-con h3 {
    color: #f8b864;
    font-weight: 700;
    font-size: xx-large;
}

.sec6-mini-con p {
    color: white;
    font-weight: 700;
}

.sec6-mini-con i {
    color: white;
    text-align: center;
    margin: 17px 0;
    font-size: 40px;
}

/* section 6 end */

/* section 7 start */
.event-card {
    height: 100%;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border: none;
}

.event-card img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
}

.event-card i {
    color: #f8b864;
    margin-right: 6px;
}

.carousel-item {
    padding: 15px 0;
}

/* section7 end */

/* section8 start */

.testimonial-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 250px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.testimonial-card img {
    width: 100px;
    height: 100px;
}

.testimonial-card {
    background: #fff;
    border-radius: 15px;
    padding: 25px;
    max-width: 500px;
    /* card width */
    margin: 10px auto;
    /* center horizontally */
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.test-custom {
    color: rgb(132, 132, 132);
    margin-top: -60px;
}


/* section8 end */

/* section9 start */
.date {
    font-weight: 700;
    font-size: 17px;
    color: rgb(152, 150, 150);
    text-align: left;
}

.section9 .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: translateY(-8px);
}

.section9 .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* section9 end */
/* section 10 start */

.section10 {
    overflow: hidden;
    margin: 30px 0;
    display: flex;
}

.section10 img {
    width: 120px;
    margin-right: 35px;
}

/* section 10 end */
/* footer start */
footer {
    background-color: #222;
    background-image: url(./images/map.png);
    background-position: right 150px center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    color: white;
    padding: 60px;
}

.footer-con1 p {
    margin: 20px 0;
    width: 300px;
}

.footercon p,
a {
    color: #999;
    font-size: 17px;
}

.footer-con2 a {
    text-decoration: none;
}

.footer-con2 a:hover {
    text-decoration: underline;
    color: #f7b24a;
}

.footer-con3 a:hover {
    text-decoration: underline;
    color: #f7b24a;
}

/* footer end */
/* copy right section  */
.copyright {
    background-color: #222;
    color: white;
    padding: 30px;
    font-size: 18px;
}

/* about section start */
.about-con {
    background-image: url(./images/page-header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-con1 {
    /* border: 2px solid; */
    padding-left: 80px;
}

.mini-con1 a,
.mini-con1 {
    text-decoration: none;
    color: rgb(173, 171, 171);
    font-weight: 700;
    font-size: 17px;
}

.content-pic1 p {
    min-width: 50%;
}

.event {
    background-image: url(./images/cta-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*  about section end */
/* blog content */
.pagination {
    width: 170px !important;
    margin: auto !important;
}

.page-item a {
    color: black !important;
}

/* blog content end */



/* contact end */

.upper-img img {
    height: 400px;
    width: 100%;
    /* height: 100%; */
}

.contact-section {
    overflow-x: hidden;
}

.contact-section .container {
    background-color: #f7f7f7;
    position: relative;
    z-index: 100;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    margin-top: -90px;
}

.contact-title {
    font-weight: 700;
    margin-bottom: 15px;
}

.contact-info p {
    margin: 10px 0;
    color: #555;
}

.contact-info i {
    margin-right: 10px;
    color: #999;
}

.contact-form .form-control {
    padding: 12px;
    border-radius: 2px;
}

.send-btn {
    background-color: #fdb462;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 2px;
}

.send-btn:hover {
    background-color: #f9a53c;
}



/* section8 end */